
.sidebar{
    /* border: 1px solid black; */
    width: 20%;
    min-width: 230px;
    height: 100vh;
    background-color: #040404;
    color: white;
}

.sidebar > img {
    height: 60px;
    padding: 10px;
    margin: 14px;
}

.sidebar > hr {
    border: 1px solid #282828;
    width: 85%;
    margin: 10px auto;
}

.sidebarTitle {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.light {
    color: white;
}

.dark {
    color: rgb(155, 155, 155);
}

.sidebarTitle:hover {
    color: #ffffff;
}

.sidebarTitle > img {
    margin: 0 14px 0 22px;
    width: 25px;
    height: 25px;
    border-radius: 2px;
}

