

.songs-title > img {
    width: 50px;
    padding: 5px;
    margin: 0 10px 0 20px;
}

.songs {
    display: flex;
    align-items: center;
    padding: 5px;
}

.current-song {
    display: flex;
    align-items: center;
    padding: 5px;
    color: #1fdf64;
    /* background-color: rgb(79, 79, 79); */
}

.songs-title {
    flex: 0.45;
    display: flex;
    align-items: center;
}

.songs:hover {
    background-color: rgb(54, 54, 54);
    color: white!;
}


.songs-info {
    flex: 0.45;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song:hover {
    background-color: rgb(45, 45, 45);
}

