

.sidebarOptions{
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
    display: flex;
    align-items: center !important;
}

.dark {
    color: rgb(155, 155, 155);
}

.light {
    color: white;
}

.sidebarOptions:hover{
    color: white;
    
}

.icons_css{
    margin: 0 15px 0 20px;
}


.sidebarOptions > p {
    margin: 10px 20px;
    font-size: 14px;
}

.nev-items{
    /* color: rgb(155, 155, 155); */
    text-decoration: none !important;
}

.nev-items:hover{
    color: white;
}